USE [master]
GO
/****** Object:  Database [SAP]    Script Date: 8/2/2026 19:03:01 ******/
CREATE DATABASE [SAP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLGARBOAG\MSSQL\DATA\SAP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SAP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLGARBOAG\MSSQL\DATA\SAP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAP]
GO
/****** Object:  User [admin_pro]    Script Date: 8/2/2026 19:03:02 ******/
CREATE USER [admin_pro] FOR LOGIN [admin_pro] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin_pro]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 8/2/2026 19:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[cedula] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](100) NULL,
	[edad] [int] NULL,
	[facultad] [varchar](100) NULL,
	[carrera] [varchar](100) NULL,
	[semestre] [varchar](50) NULL,
	[modalidad] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
