USE [master]
GO
/****** Object:  Database [SAP]    Script Date: 8/2/2026 19:53:20 ******/
CREATE DATABASE [SAP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLPLAZAPOO\MSSQL\DATA\SAP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SAP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLPLAZAPOO\MSSQL\DATA\SAP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAP]
GO
/****** Object:  User [admin_sap]    Script Date: 8/2/2026 19:53:21 ******/
CREATE USER [admin_sap] FOR LOGIN [admin_sap] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin_sap]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 8/2/2026 19:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[cedula] [varchar](10) NOT NULL,
	[nombre] [varchar](150) NULL,
	[apellido] [varchar](150) NULL,
	[ruta] [varchar](50) NULL,
	[costo] [varchar](100) NULL,
	[tipo_servicio] [varchar](50) NULL,
 CONSTRAINT [PK_Servicio1] PRIMARY KEY CLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
